footer.content-info{
    background: theme-color(black);
    color: theme-color(white);
    padding: $grid-gutter;

    .copyright{
        font-style: italic;
        font-size: .9em;
    }

    .contact{
        text-align: right;
    }
}